<div class="login-bg">
    
</div>
<div class="container login-container">
    <h5 class="center-align tag-line">
        7.5.1.SP-1: Shipment Portal Login Screen.        
    </h5> 
    <div class="login-box">
        <div class="logo center-align">
            <img src="http://www.catalent.com/var/plain_site/storage/images/page-head/2164-79-eng-US/Page-Head_large.png">
        </div>
        <div class="login-fields-holder row" [formGroup]="loginGroup">
            <div class="input-field col s12 no-pad">
                <mz-select-container>
                    <select mz-select
                            id="options-select"                            
                            [placeholder]="'Domain'">
                        <option value="1" class="left circle">CFusion</option>
                        <option value="2" class="left circle">CPS</option>                      
                    </select>
                </mz-select-container>
            </div>
            <div class="input-field col s12 no-pad">
                <input id="first_name" type="text" 
                       class="validate" 
                       
                       formControlName="field">
                <label data-error="Invalid Email" for="first_name">Username</label>
            </div>
            <div class="input-field col s12 no-pad">
                <input id="first_name" type="password" class="validate" name="pass">
                <label for="first_name">Password</label>
            </div>
        </div>
        <div class="login-btn-holder text-center">
            <button type="button" (click)="valSubmit()" class="btn btn-catalent text-center">Login</button>
            <p class="small-text center-align">
                <a href="">Forgot Password?</a>
            </p>        
        </div>        
    </div>
    <p class="center-align sign-up">
        Don't have an account? <b><a href="">Sign Up!</a></b>
    </p>   
    <p>{{pass}}</p>
</div>

