<!-- <nav class="top-bar-nav">
	<a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>

	<div class="row ">
		<div class="col-sm-6 no-pad">
			<ul>
				<li>
					<a href="" class="badge badge-pink" data-badge="27">
						<i class="fa fa-bell-o" aria-hidden="true"></i>
					</a>
				</li>
				<li>
					<a href="" class="badge" data-badge="5">
						<i class="fa fa-calendar" aria-hidden="true"></i>
					</a>
				</li>

			</ul>
		</div>
        <div class="col-sm-2 no-pad">
            <div id="imaginary_container">
                <div class="input-group stylish-input-group">
                    <input type="text" class="form-control"  placeholder="Search" >
                    <span class="input-group-addon">
                        <button type="submit">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
        	<ul>
        		<li>
        			<a href="" class="badge" data-badge="21">
						<i class="fa fa-comment-o" aria-hidden="true"></i>
					</a>
        		</li>
        	</ul>

        </div>
	</div>
</nav> -->
<div class="navbar-fixed">
	<nav>
		<div class="nav-wrapper">
      <a href="#" class="brand-logo center"><img class="responsive-img" src="../assets/images/catalent-white.png" alt=""></a>
			<div class="row">
				<div class="col s2">
					  <a (click)="toggle_class()" class="brand-logo">
                <i class="fa fa-bars" aria-hidden="true"></i>
				  	</a>
				</div>
				<div class="col s10">
					<!--<ul class="right hide-on-med-and-down">
						<li><a href="sass.html"><i class="fa fa-search" aria-hidden="true"></i></a></li>
						<li><a href="badges.html"><i class="fa fa-road" aria-hidden="true"></i></a></li>
						<li><a href="collapsible.html"><i class="fa fa-refresh" aria-hidden="true"></i></a></li>
						<li><a href="mobile.html"><i class="fa fa-comment" aria-hidden="true"></i></a></li>
					</ul>-->
				</div>
			</div>


		</div>
	</nav>
</div>


<ul id="slide-out" [className]="my_Class" class="side-nav" >
	<li><div class="user-view">
	  <div class="background">
	    <img src="http://materializecss.com/images/office.jpg">
	  </div>
	  <a href="#!user"><img class="circle" src="http://materializecss.com/images/yuna.jpg"></a>
	  <a href="#!name"><span class="white-text name">John Doe</span></a>
	  <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
	</div></li>
	<li><a class="waves-effect" [routerLink]="['/']" routerLinkActive="active"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
	<li><a class="waves-effect" [routerLink]="['/new-shipment-request']" routerLinkActive="active"><i class="fa fa-file-o" aria-hidden="true"></i> New Shipment Request</a></li>
	<li><div class="divider"></div></li>
	<li><a class="subheader">Subheader</a></li>
	<li><a class="waves-effect" [routerLink]="['/new-site']" routerLinkActive="active"><i class="fa fa-plus" aria-hidden="true"></i>Add Site</a></li>
</ul>
<div id="sidenav-overlay" *ngIf="show_back_drop" class="animated fadeIn" (click)="toggle_class()"></div>
